<ion-view title="Points Plus">
 <ion-content class="contenedorContenido" overflow-scroll="true">

  <div class="contenidoMenuPrincipal promoPointsMenu">

   <div style="width:100%;" id="padre" class="pointsPlusElementosMenu">
    <a ng-click="duplicaTusPuntosAbrir()" style="background-color: #4289fd; width:100%;" id="hijo">
     <p style="font-family: MetaBookRegular;">Duplica tus puntos</p>
     <i style="" class="icon ion-android-done-all"></i>
    </a>
   </div>
   
   <div style="width:100%;" id="padre" class="pointsPlusElementosMenu">
    <a ng-click="promocionesAbrir()" style="background-color: #5e9bfd; width:100%;" id="hijo">
     <p style="font-family: MetaBookRegular;">Promociones</p>
     <i style="" class="icon ion-speakerphone"></i>
    </a>
   </div>
   

   <div style="width:100%;" id="padre" class="pointsPlusElementosMenu">
    <a ng-click="tarifasAbrir()" style="background-color: #7aacfe; width:100%;" id="hijo">
     <p style="font-family: MetaBookRegular;">Tarifas</p>
     <i style="" class="icon ion-ios-list"></i>
    </a>
   </div>
   
   <div style="width:100%;" id="padre" class="pointsPlusElementosMenu">
    <a ng-click="suscribeteAbrir()" style="background-color: #97befe; width:100%;" id="hijo">
     <p style="font-family: MetaBookRegular;">Suscríbete</p>
     <i style="" class="icon ion-person-add"></i>
    </a>
   </div>

      <div style="width:100%;" id="padre" class="descripcion pointsPlusElementosMenu">
    <div style="background-color:#fff; width:100%;" id="hijo">
     <i style="" class="icon ion-information-circled">Más Información:</i>
     <p>Duplica tus puntos todo el mes, descubre nuestras promos o invierte en los puntos que necesites. </p>
     
    </div>

   </div>
   
   <div style="width:100%;" id="padreAbajo">
    <div style="background-color:#b3d0fe; width:50%;" id="hijo"></div>
    <div style="background-color:#d0e1fe; width:50%;" id="hijo"></div>
   </div>


  </div>
 </ion-content>
</ion-view>