<ion-view title="Selecciona tu País">
 <ion-content class="contenedorContenido" overflow-scroll="true">
  <div id="contenedorImagenPais">
   <img id="imagenPais" src="img/seleccionarPais.png" />
  </div>

  <div class="contenido">
   <div ng-click="paisSeleccionado('Ecuador')" style="color:#fdc630" class="pais">
    Ecuador
   </div>
   
   <div ng-click="paisSeleccionado('Peru')" style="color:#fd314e" class="pais">
    Perú
   </div>
   
   <div ng-click="paisSeleccionado('Colombia')" style="color:#70cb94" class="pais">
    Colombia
   </div>
   
   <div ng-click="paisSeleccionado('Panama')" style="color:#4289fd" class="pais">
    Panamá
   </div>
   
   <div ng-click="paisSeleccionado('Mexico')" style="color:#dad2c0" class="pais">
    México
   </div>
   
  </div>
 </ion-content>
</ion-view>