<ion-view title="Tarjeta de Crédito">
 <ion-content class="contenedorContenido" overflow-scroll="true">
  <div class="contenido">
  <div class="tituloCampoFormulario"><i style="font-size: 16px; color: rgb(255, 255, 255);" class="icon ion-card"> Datos de la tarjeta de crédito</i></div>
  <div class="Formulario">

   <label class="elementoFormulario">
    <span >Número de la tarjeta *</span>
    <input ng-model="datosTarjeta.numeroDeTarjeta" type="text" size="20" value="" autocomplete="off" required />
   </label>

   <label class="elementoFormulario">
    <span >Mes de expiración (MM) *</span>
    <input type="text" size="2" ng-model="datosTarjeta.mesDeExpiracion" required />
   </label>

   <label class="elementoFormulario">
    <span >Año de expiración (YYYY) *</span>
    <input type="text" size="4" ng-model="datosTarjeta.anoDeExpiracion" required />
   </label>

   <label class="elementoFormulario">
    <span >CVC *</span>
    <input ng-model="datosTarjeta.CVC" size="3" type="text" value="" autocomplete="off" required />
   </label>

  </div>
  <div class="tituloCampoFormulario" style="background-color: rgb(64, 64, 64) ! important;">Detalle del pedido</div>
  <div id="descripcionDelPedido" style="background-color: rgb(98, 98, 98) ! important; float: left; width: 100%;" >
    <div style="background-color: #494949; width: 50%; float: left; text-align: center; padding: 10%;">Descripción</div>
    <div style="background-color: #515151; width: 50%; float: left; text-align: center; padding: 10%;">Total</div>
    <div style="background-color: #5a5a5a; width: 50%; float: left; text-align: center; padding: 10%;">{{descripcion}}</div>
    <div style="background-color: #626262; width: 50%; float: left; text-align: center; padding: 10%;">${{precio}}</div>
  </div>
  <div id="descripcionAdicional">
    *Los precios ya incluyen IVA
  </div>
  <button id="finalizarCompra" ng-click="finalizarCompra()" style="font-family: MetaBookCE ! important; width: 100%; border: medium none ! important; color: rgb(253, 198, 48); background-color: rgb(98, 98, 98); padding: 10%;">
    <i style="color:#fdc630; font-size: 22px;" class="icon ion-checkmark-circled"> Finalizar Compra</i>
  </button>
  </div>
  <div style="width:100%;" id="padreAbajo">
   <div style="background-color:#5a5a5a; width:50%;" id="hijo"></div>
   <div style="background-color:#515151; width:50%;" id="hijo"></div>
  </div>
 </ion-content>
</ion-view>
