<ion-view title="Promocionar Fotos">
 <ion-content class="contenedorContenido promoPointsLikeContenedor" overflow-scroll="true">

  <div class="contenidoMenuPrincipal promoPointsLike">

   <div style="width:100%; color: #1e1e1e;" id="padre">
    
    <div style="background-color: #fd314e; width:100%; font-family: MetaBookRegular; padding: 0px 5px; color: #fff;" id="hijo">
     <p style="font-size: 20px; text-align: center !important;">¿Cuál foto promocionamos?</p>
    </div>

   </div>

   <div class="fotos">
    
    <!--Fila Uno-->
    <div class="filaFotos">

      <div ng-click="seleccionarNumeroDeLikes(1)" class="imagenesFotos" style="background: url(img/fotosInstagram/2.jpg); margin-left: 4%; margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(2)" class="imagenesFotos" style="background: url(img/fotosInstagram/1.jpg); margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     
    </div><!--Fila Uno-->

    <!--Fila Dos-->
    <div class="filaFotos">

            <div ng-click="seleccionarNumeroDeLikes(3)" class="imagenesFotos" style="background: url(img/fotosInstagram/3.jpg); margin-left: 4%; margin-right: 4%; margin-top: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(4)" class="imagenesFotos" style="background: url(img/fotosInstagram/4.jpg); margin-top: 2.5%;"></div>


    </div><!--Fila Dos-->
    
    <!--Fila Uno-->
    <div class="filaFotos">

      <div ng-click="seleccionarNumeroDeLikes(5)" class="imagenesFotos" style="background: url(img/fotosInstagram/2.jpg); margin-left: 4%; margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(6)" class="imagenesFotos" style="background: url(img/fotosInstagram/1.jpg); margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     
    </div><!--Fila Uno-->

    <!--Fila Dos-->
    <div class="filaFotos">

            <div ng-click="seleccionarNumeroDeLikes(7)" class="imagenesFotos" style="background: url(img/fotosInstagram/3.jpg); margin-left: 4%; margin-right: 4%; margin-top: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(8)" class="imagenesFotos" style="background: url(img/fotosInstagram/4.jpg); margin-top: 2.5%;"></div>


    </div><!--Fila Dos-->
    <!--Fila Uno-->
    <div class="filaFotos">

      <div ng-click="seleccionarNumeroDeLikes(9)" class="imagenesFotos" style="background: url(img/fotosInstagram/2.jpg); margin-left: 4%; margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(10)" class="imagenesFotos" style="background: url(img/fotosInstagram/1.jpg); margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     
    </div><!--Fila Uno-->

    <!--Fila Dos-->
    <div class="filaFotos">

            <div ng-click="seleccionarNumeroDeLikes(11)" class="imagenesFotos" style="background: url(img/fotosInstagram/3.jpg); margin-left: 4%; margin-right: 4%; margin-top: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(12)" class="imagenesFotos" style="background: url(img/fotosInstagram/4.jpg); margin-top: 2.5%;"></div>


    </div><!--Fila Dos-->
    <!--Fila Uno-->
    <div class="filaFotos">

      <div ng-click="seleccionarNumeroDeLikes(13)" class="imagenesFotos" style="background: url(img/fotosInstagram/2.jpg); margin-left: 4%; margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(14)" class="imagenesFotos" style="background: url(img/fotosInstagram/1.jpg); margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     
    </div><!--Fila Uno-->

    <!--Fila Dos-->
    <div class="filaFotos">

            <div ng-click="seleccionarNumeroDeLikes(15)" class="imagenesFotos" style="background: url(img/fotosInstagram/3.jpg); margin-left: 4%; margin-right: 4%; margin-top: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(16)" class="imagenesFotos" style="background: url(img/fotosInstagram/4.jpg); margin-top: 2.5%;"></div>


    </div><!--Fila Dos-->
    <!--Fila Uno-->
    <div class="filaFotos">

      <div ng-click="seleccionarNumeroDeLikes(17)" class="imagenesFotos" style="background: url(img/fotosInstagram/2.jpg); margin-left: 4%; margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(18)" class="imagenesFotos" style="background: url(img/fotosInstagram/1.jpg); margin-right: 4%; margin-top: 5%; margin-bottom: 2.5%;"></div>
     
    </div><!--Fila Uno-->

    
    <!--Ultima Fila-->
    <div class="filaFotos">

            <div ng-click="seleccionarNumeroDeLikes(19)" class="imagenesFotos" style="background: url(img/fotosInstagram/3.jpg); margin-left: 4%; margin-right: 4%; margin-bottom: 5%; margin-top: 2.5%;"></div>
     <div ng-click="seleccionarNumeroDeLikes(20)" class="imagenesFotos" style="background: url(img/fotosInstagram/4.jpg); margin-bottom: 4%; margin-top: 2.5%;"></div>


    </div><!--Ultima Fila-->
    

   </div>

   <div style="width: 100%; height: 32% ! important;" id="padre" class="descripcion pointsPlusElementosMenu">
    <div style="background-color:#fff; width:100%;" id="hijo">
     <i style="" class="icon ion-information-circled">Más Información:</i>
     <p style="width: 90% ! important; margin: auto ! important; text-align: center ! important;">¿Harto de usar 20 hashtags y no crecer en el país que te interesa? Promociona tu foto localmente.</p>
     
    </div>

   </div>
   <div style="width:100%;" id="padreAbajo">
    <div style="background-color:#2f2f2f; width:50%;" id="hijo"></div>
    <div style="background-color:#373737; width:50%;" id="hijo"></div>
   </div>


  </div>
 </ion-content>
</ion-view>