<ion-view title="Promo Points">
 <ion-content class="contenedorContenido" overflow-scroll="true">

  <div class="contenidoMenuPrincipal promoPointsMenu">

   <div style="width:100%;" id="padre">
    <a ng-click="likeAbrir()" style="background-color: #fdc630; width:100%;" id="hijo">
     <p style="font-family: MetaBookRegular;">!Descubre Fotos en tu zona!</p>
     <i style="" class="icon ion-ios-heart"></i>
     <p>LIKE</p>
    </a>

   </div>
   

   <div style="width:100%;" id="padre">
    <a ng-click="followAbrir()" style="background-color: #fdce4f; width: 100%;" id="hijo">
     <p style="font-family: MetaBookRegular;">!Descubre Perfiles en tu zona!</p>
     <i style="" class="icon ion-person"></i>
     <p>FOLLOW</p>
    </a>
   </div>

      <div style="width:100%;" id="padre" class="descripcion">
    <div style="background-color:#fff; width:100%;" id="hijo">
     <i style="" class="icon ion-information-circled">Más Información:</i>
     <p>¡Gana Promo Points <img style="width: 17px; height: auto;" src="img/monedasNegras.png" /> conociendo MÁS perfiles de tu zona en tiempo RÉCORD! ¡Si te gusta la foto o el perfil, obtendrás puntos para promocionar tu cuenta de Instagram en tu país!</p>
     
    </div>

   </div>
   
   <div style="width:100%;" id="padreAbajo">
    <div style="background-color:#fee08d; width:50%;" id="hijo"></div>
    <div style="background-color:#fee8ac; width:50%;" id="hijo"></div>
   </div>


  </div>
 </ion-content>
</ion-view>