/*
Colores:
Amarillo: fdc630
Rojo: fd314e
Verde: 70cb94
Azul: 4289fd
Beige: dad2c0
*/
/* Empty. Add your own CSS if you like */
@font-face {
    font-family: MetaBookCE;
    src: url(MetaBookCE-Caps.otf);
}

@font-face {
    font-family: MetaBookRegular;
    src: url(MetaBookCE-Roman.otf);
}

/*
@font-face {
    font-family: KelsonSans;
    src: url(KelsonSansBold.otf);
    font-weight: bold;
}
*/

.contenedorContenidoIniciarSesion {
    background-color: #1e1e1e;
    text-align: center;
    font-family: MetaBookCE;
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
 font-family: MetaBookCE;
}

.contenedorContenidoIniciarSesion h3{
    color: #fff;
}

.contenedorContenidoIniciarSesion img {
    max-width: 150px;
    width: 100%;
}

.popup {
    text-align: center;
}

#iniciarSesion {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    width: 100%;
    padding: 0px 10px 0px 0px;
}

body {
    font-family: MetaBookCE;
}

#iniciarSesion img:active {
    filter: alpha(opacity=80);
    -moz-opacity: .80;
    opacity: .20;
}
/*Menu superior*/
.bar.bar-header {
    background-color: #1e1e1e;
    color: #fff;
}

.ion-navicon::before {
    border: 2px solid #fff;
    border-radius: 34px;
    color: #fff;
    width: 35px;
    height: 35px;
}

.bar {
    height: 48px;
 border-bottom: 1px solid transparent;
}

.bar .button, .bar button {
    padding: 0 2px;
}

.back-button .ion-android-arrow-back::before {

    content: "";
    border: 2px solid #fff;
    border-radius: 34px;
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 29px;

}

/*Seleccionar Pais*/
.contenedorContenido {
    background-color: #262626;
    color: #fff;
}

#imagenPais {
    width: 100%;
    max-width: 640px;
}

#contenedorImagenPais {
    text-align: center;
}

.pais {
    border-top: 1px solid #515151;
    padding: 20px;
}

.pais:active {
    color: #fff !important;
    background-color: #383737;
}

/*Menu Principal*/
#padre {
	display: table;
	height: 32%;
 text-align: center;
}
#hijo {
	display: table-cell;
	vertical-align: middle;
}

#padreAbajo {
    display: table;
    height: 4%;
    text-align: center;
}

.contenidoMenuPrincipal .icon {
    font-size: 40px;
}

.contenidoMenuPrincipal p {
    width: 95px;
    margin: auto;
    margin-top: 10px;
}

.contenidoMenuPrincipal #hijo img {
    width: 39px;
}

.contenidoMenuPrincipal {
    height: 100%;
}

.contenidoMenuPrincipal a {
    color: #fff;
}

.contenidoMenuPrincipal a:active {
    background-color: RGB(89, 89, 89) !important;
}

/*Menu Lateral*/
.menu.menu-right {
    background-color: #262626;
    color: #fff;

}

.menu-right a {
    width: 100%;
    float: left;
    color: #fff;
    height: 60px;
    font-size: 17px;
    margin-top: 7px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-right img {
    width: 21px;
    margin-right: 5px;
    margin-left: 15px;
}

.menu-right .icon {
    font-size: 25px;
    margin-right: 5px;
    margin-left: 15px;
}

.menu-right div {
    float: left;
    width: 100%;
}

#imagenDePerfil {
    width: 100px;
    margin: 0px;
    padding: 0px;
}

#contenedorImagenDePerfil {
    width: 100%;
    text-align: center;
}

.scroll-bar-indicator {
    opacity: 0 !important;
}



.scroll {
    padding: 0px !important;
}

#opcionesMenu .activated {
    border-top: 1px solid #464646;
    border-bottom: 1px solid #535353;
}

#cerrarSesionMenu .activated {
    color: #bababa;
}
.scroll-bar.scroll-bar-v {
    height: 1px;
    width: 1px;
}

#volverMenu {
    background-color: #262626;
    padding: 10px 10px 4px;
    border-bottom: 2px solid #656565;
}

#volverMenu p {
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 8px 0px;
}

#cerrarSesionMenu {
    background-color: #262626;
    padding: 10px 10px 4px;
    border-top: 2px solid #656565;
}

#nombreMenu {
    font-size: 20px;
    margin-left: 15px;
}

#volverMenu .icon {
    float: left;
    margin-right: 10px;
}

#cerrarSesionMenu .icon {
    float: left;
    margin-right: 10px;
}

#cerrarSesionMenu p {
    margin-top: 3px;
}

.menu.menu-right {
    font-family: MetaBookRegular;
}



#modalMio {
    width: 100%;
    height: 100%;
    background-color: RGBA(255, 255, 255, 0.90);
    z-index: -1;
    position: absolute;
    right: 100%;
 transition: transform 200ms ease;
}




.menu-open #modalMio {
    z-index: 9999;
    right: 275px;
    position: sticky;
}
#volverMenu a {
    padding: 0px;
    margin: 0px;
    height: auto;
}

#cerrarSesionMenu a {
    padding: 0px;
    margin: 0px;
    height: auto;
}

/*Promo Points Menu*/
.promoPointsMenu p {
    width: 90%;
}

.promoPointsMenu #padre #hijo {
    padding: 20px 0px;
}

.promoPointsMenu a {
    color: #1e1e1e;
}

.descripcion .icon {
    font-size: 15px;
}

.descripcion .icon::before {
    margin-right: 5px;
}

.descripcion div {
    color: #1e1e1e;
 font-family: MetaBookRegular;
}

.contenidoMenuPrincipal a:active {
    background-color: RGB(89, 89, 89) !important;
    color: #fff;
}

/*PromoPoints Like*/
.promoPointsLike #imagenDePerfil {
    width: 90% !important;
    height: auto !important;
    max-width: 120px !important;
}

.promoPointsLike p {
    width: 100% !important;
    text-align: left !important;
    margin: 2px 0px !important;
}


.promoPointsLike #padre {
    height: 30%;
}

.fotos {
    height: 47%;
    background-color: #fff;
}

.filaFotos {
    height: 50%;
    width: 100%;
}

.imagenesFotos {
    height: 92.5%;
    width: 44%;
    float: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-position: center !important;
    background-size: cover !important;
}

.contenidoMenuPrincipal.promoPointsLike {
    background-color: #fff;
}

.promoPointsLikeContenedor {
    background-color: #fff;
}

/*Points Plus*/
.duplicaTusPuntosDos {
    height: 23% !important;
}

.duplicaTusPuntosUno {
    height: 69% !important;
}

.pointsPlusElementosMenu {
    height: 19.2% !important;
}

/*Points Plus - Suscribete*/

.elementoFila {
    height: 24% !important;
}

/*Promocionar Foto*/
.imagenesFotos:active {
    filter: alpha(opacity=80);
    -moz-opacity: .80;
    opacity: .20;
}
/*Tipos de pago*/
.labelPais {
    padding: 20px;
}

.item-stacked-label {
    background-color: #fff !important;
}

.item-content {
    background-color: #626262 !important;
    color: #fff;
}

.tipoDePago:active {
    color: #000;
    background-color: #fff !important;
}

.Formulario {
    background-color: #373737;
}

.tituloCampoFormulario {
    background-color: #2f2f2f;
    text-align: center;
    padding: 10%;
    float: left;
    width: 100%;
}
#descripcionAdicional {
    padding: 10%;
    float: left;
    width: 100%;
}

.elementoFormulario input {
    width: 100%;
    border: none !important;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    padding: 0px 10px;
    color: #fff;
    font-family: MetaBookCE !important;
    margin: 10px 0px;
}

.Formulario {
    padding: 20px 20px 20px 20px;
    float: left;
    width: 100%;
}
.elementoFormulario span {
    width: 100% !important;
    float: left;
}

.elementoFormulario {
    float: left;
    width: 100%;
}

input.ng-valid {
    border-color: green;
}

input.ng-invalid {
    border-color: red !important;
    box-shadow: none !important;
}

input.ng-untouched {
    border-color: rgba(255, 255, 255, 0.2) !important;
    box-shadow: none !important;
}

.elementoFormulario .item {
    width: 100%;
    border: none !important;
    background-color: #373737 !important;
    padding: 0px 10px !important;
    color: #fff;
    font-family: MetaBookCE !important;
    margin: 5px 0px !important;
    float: left;
}

.item-content {
    background-color: transparent !important;
    color: #fff;
}

.list .item {
    background-color: transparent;
    font-size: 15px;
}

.seleccionarForma {
    width: 100% !important;
    padding: 20px;
    background-color: #404040;
    border: none;
    color: #fff;
    font-family: MetaBookCE;
}

.checkbox input:checked::before, .checkbox input:checked + .checkbox-icon::before {
    background: #4289fd;
    border-color: #4289fd;
}

.seleccionarForma:active {
    background-color: #fff;
}

#finalizarCompra:active {
    background-color: #fff !important;
}
